<html>
    <body style="background-color: rgba(236, 236, 236, 0.639);">
<form action="action" method="post">

  <div class="container" style="display:block;margin-top:10%;margin-left:30%;background-color: lightblue;border: 2px;
  font-size: large;font-family: 'Courier New', Courier, monospace;height: 45%;width: 40%;">
    <label for="number" style="font-size: 0.7cm;"><b>Credit card information</b></label><br><br>
    <label for="number">Credit card number:</label>
    <input type="number" placeholder="Enter credit card number" name="number" required style="position: relative;width: 100%;height: 25%;"><br><br>
    <label for="expiry">Expiry date:</label>
    <input type="month" id="expiry" name="expiry" required style="position: relative;width: 100%;height: 25%;"><br><br>
    <label for="cvv">CVV:</label>
    <input type="number" placeholder="Enter CVV" name="cvv" required style="position: relative;width: 100%;height: 25%;">
    <button type="submit" style="position: relative;width: 100%;height: 30%;font-size: large; background-color: rgb(177, 173, 163);border-radius: 2px;">Submit</button> 
    <% if (typeof status==="undefined") { %>
      <div class="status" name="status"></div>
    <% } else if (status=="True"){ %>
      <div class="status" name="status" style="font-size: large;color: rgb(21, 169, 13);">Validation successful.</div>
      <% } else{ %>
      <div class="status" name="status" style="font-size: large;color: red;">Validation failed.</div>
      <% } %>
    
  </div>
</form>
</body>
</html>